<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="RenameLockScreens.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <applicationSettings>
        <RenameLockScreens.Properties.Settings>
            <setting name="defaultFolder" serializeAs="String">
                <value>C:\Users\Prime Time Pauly G\Pictures\Downloaded Lock Screens</value>
            </setting>
            <setting name="downloadFolder" serializeAs="String">
                <value>C:\Users\Prime Time Pauly G\AppData\Local\Packages\Microsoft.Windows.ContentDeliveryManager_cw5n1h2txyewy\LocalState\Assets</value>
            </setting>
            <setting name="logFileName" serializeAs="String">
                <value>lockscreenlog.json</value>
            </setting>
        </RenameLockScreens.Properties.Settings>
    </applicationSettings>
</configuration>
